.infoContainer {
  display: flex;
  gap: 90px;

  justify-content: center;

  margin-top: 60px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  min-width: 900px;
  min-height: 650px;
  /* text-align: center; */
  position: relative;
}

.closeButton {
  color: black;

  width: 30px;
  height: 30px;

  position: absolute;
  right: 15px;
  top: 15px;

  transition: background-color 0.6s ease, transform 0.6s ease,
    box-shadow 0.6s ease;
}

.closeButton:hover {
  color: red;
  transform: scale(1.1);
  transition: background-color 0.6s ease, transform 0.6s ease,
    box-shadow 0.6s ease;
}

.region,
.population,
.area,
.rivers,
.founded {
  color: black;
}

.region {
  margin-top: 40px;
  text-align: center;
}

.image {
  width: 100%;
  max-width: 500px;
  height: 300px;

  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 17px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 15px auto;
  transition: transform 0.7s ease-in-out;

  cursor: pointer;

  margin-top: 20px;
}

.image:hover {
  transform: scale(1.4);
  transition: transform 0.7s ease-in-out;
}

.image.zoomed {
  transform: scale(1);
  transition: transform 0.7s ease-in-out;
}
