.mainContainer {
  width: 800px;
  height: 600px;
  background: linear-gradient(
    135deg,
    #f5f7fa,
    #dfe3e8
  ); /* Ніжний світло-сірий градієнт */
  border-radius: 20px; /* Більш плавні кути */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); /* Виразна тінь */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #333; /* Темно-сірий текст для контрасту */
  font-family: "Poppins", sans-serif; /* Сучасний шрифт */
  transition: all 0.3s ease-in-out;
}

/* Анімація при наведенні */
.mainContainer:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.descr {
  color: #555; /* Стильний темно-сірий */
  /* font-size: 18px;
  font-weight: 500;
  text-align: center;
  max-width: 600px; */
}
