.modal {
  background: white;
  padding: 20px;

  min-width: 400px;
  min-height: 400px;

  border-radius: 10px;
  position: relative;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 30px;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.weatherContainer {
  margin: 20px 0;
}

.loading,
.error {
  color: red;
}

.closeButton {
  color: black;

  width: 40px;
  height: 40px;

  position: absolute;
  right: 5px;
  top: 5px;

  transition: background-color 0.6s ease, transform 0.6s ease,
    box-shadow 0.6s ease;
}

.closeButton:hover {
  color: red;
  transform: scale(1.1);
  transition: background-color 0.6s ease, transform 0.6s ease,
    box-shadow 0.6s ease;
}

.descr {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}

.img {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
